@page
@model ExemploWebSocketCSharp.Pages.IndexModel
@{
}

<h1>ExemploWebSocketCSharp</h1>

<p>
    <input id="inputMessage" />
    <button id="sendButton">Enviar</button>
</p>
<div id="mensagens">
    <h4>
        Histórico de mensagens:
    </h4>
</div>

<script>
    var scheme = document.location.protocol === "https:" ? "wss" : "ws";
    var port = document.location.port ? (":" + document.location.port) : "";
    var url = scheme + "://" + document.location.hostname + port + "/ws";

    var socket = new WebSocket(url);

    socket.onopen = function (event) {
        console.log("onopen...", event);
    };
    
    socket.onclose = function (event) {
        console.log("onclose...", event);
    };

    socket.onerror = function (event) {
        console.log("onerror...", event);
    };

    socket.onmessage = function (event) {
        console.log("onmessage...", event);
        mensagens.innerHTML += '<p>' + event.data + '</p>';
    };


    var inputMessage = document.getElementById("inputMessage");
    var sendButton = document.getElementById("sendButton");

    sendButton.onclick = function () {
        if (!socket || socket.readyState !== WebSocket.OPEN) {
            alert("Não conectado!");
            return;
        }
        socket.send(inputMessage.value);
    };

</script>